body{
    background-color: #ebebeb;
}
.createPostContainer{
    height:100vh;
    min-height: 590px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.774);
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0
}
#closeModal{
    position: absolute;
    top:40px;
    right:40px;
    color:#ffffff;
    font-size: 32px;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
.createPost{
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
   
}
.postSelect{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    position: relative;
    background-color: #ebebeb;
    
}
.postSelect .createPostTitle{
    position: absolute;
    height: auto;
    width: 100%;
    top:0;
    left: 0;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    background-color: rgb(0, 165, 255);
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#discardCreatePost{
    position: absolute;
    top:50%;
    left: 10%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.postSelect img{
    margin-top: 80px;
    height: 120px;
    width: auto;
}


.postSelect input{
   display: none;
}
.postSelect button{
    height: 36px;
    width: 180px;
    background-color: rgb(3, 135, 243);
    border-radius: 4px;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.postForm{
    height: 75%;
    max-height: 480px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    background-color: #ebebeb;
}
.postFormTitle{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgb(0, 165, 255);
    /* border-bottom: 1px solid rgb(189, 189, 189); */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 24px;
    color: #ffffff;
    position: relative;
}
.postFormDetails{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photoPreview{
    height: 100%;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    /* background-color: #d64f4f; */
}
.photoPreview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.postCaption{
    flex-basis: 45%;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 24px;
}
.postCaption input{
    height: 36px;
    width: 100%;
    border:none;
    border-bottom: 1px solid gray;
    padding: 10px;
    background: none;
}
.postCaption input:focus{
    outline: none;
}
.postCaption button{
height: 32px;
width: 90px;
border: none;
background-color: rgb(3, 135, 243);
color: #ffffff;
font-size: 14px;
font-weight: bold;
border-radius: 4px;
cursor: pointer;
}

