.home{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.homePosts{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePost{
    height: auto;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #ffffff;
}
.publisherDetails{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid rgb(189, 189, 189);
    position: relative;
}
.publisherDetails img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    align-self: center;
    justify-self: flex-start;
}
.publisherDetails strong{
    margin-left: 20px;
}

#deleteIcon{
    position: absolute;
    top:50%;
    right:20px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 60%;
}
.postImg{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.postActions{
    padding: 10px 0 10px 20px;
    font-size: 26px;
    display: flex;
    
}
.postActions *{
    margin-right: 20px;
}
.likesCount{
    padding: 5px 0 5px 20px;
}
.postDetails{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px 0 5px 20px;
}
.postBody{
    display: flex;
}
.postBody strong{
    margin-right: 10px;
}

.makeComment{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}
.makeComment input{
    margin-top: 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #000000;
    padding: 6px;
    width: 100%;
}
.makeComment input:focus{
    outline: 0;
}
.makeComment button{
    border: none;
    background: none;
    color: blue;
    cursor: pointer;
}
