.profileContainer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.profileMain{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}
.profileInfo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 40px 0;
    border-bottom: 1px solid rgb(153, 153, 153);
}
.profilePhoto{
    flex-basis: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.profilePhoto div{
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePhoto div img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.profileDetails{
    flex-basis: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
   

}
.profileEdit{
    height: auto;
    padding: 4px 0 4px 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.profileEdit h5{
    font-size: 24px;
}
.profileEdit button{
    height: 36px;
    width: 90px;
    background:none;
    border: 1px solid gray;
    border-radius:4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
.profileEdit span{
    font-size: 24px;
    cursor: pointer;
}

.entityCounts{
    height: auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px 0 8px 0;
}

.bio{
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 10px;
    padding: 4px 0 4px 0;
}

.bio .name{
    font-size: 18px;
}
.bio *{
    margin-bottom: 10px;
}


.gallery{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    row-gap: 25px;
    column-gap: 25px;
    margin-top:30px;
    margin-bottom: 80px;
}
.postPhoto{
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postPhoto img{
    height: 280px;
    width: 280px;
    object-fit: cover;
}

@media screen and (max-width:1060px) {
    .profileMain{
        width: 80%;
    }
    .profileEdit, .entityCounts{
        width: 70%;
    }
}
@media screen and (max-width:930px) {
    .profileMain{
        width: 90%;
    }
    .profileEdit, .entityCounts{
        width: 80%;
    }
    .gallery{
        padding-top: 32px;
        column-gap: 20px;
        row-gap: 25px;
    }
    .postPhoto{
        width: 100%;
        height: 200px;
    }
    .postPhoto img{
        width: 240px;
        height: 240px;
    }
}
@media screen and (max-width:800px) {
    .profileEdit, .entityCounts{
        width: 90%;
    }
    .gallery{
        padding-top: 32px;
        column-gap: 18px;
        row-gap: 25px;
    }
    .postPhoto{
        width: 100%;
        height: 200px;
    }
    .postPhoto img{
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:660px) {
    .profileMain{
        width: 100%;
        padding: 10px;
    }
    .profileInfo{
        flex-direction: column;
        width: 90%;
    }
    .profilePhoto{
        flex-basis: 30%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;    
    }
    .profilePhoto div{
        height: 120px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
    .profileDetails{
        margin-top: 32px;
        flex-basis: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    
    }
    .profileEdit{
        height: auto;
        padding: 4px 0 4px 0;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .profileEdit h5{
        font-size: 24px;
    }
    .profileEdit button{
        margin-left: 52px;
    }
   
    
    .entityCounts{
        margin-top: 20px;
        width: 60%;
        
    }
    .gallery{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .postPhoto{
        width: 100%;
        height: auto;
        /* background-color: blue; */
    }
    .postPhoto img{
        width: 90%;
        height: auto;
    }
}
