
@font-face {
    font-family: grandHotel;
    src: url('/font/Grand_Hotel/GrandHotel-Regular.ttf');
}
.user_navbar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 32px 0 32px;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(194, 193, 193);
    position: sticky;
    top:0;
    left: 0;
    right:0;
}
.logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
  
    font-size: 32px;
    font-family: grandHotel;
    font-weight: lighter;

}

.links{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
